:root {
    --content-max-width: 60rem;
    // --content-max-width: 32rem;
    --content-min-width: 32rem;
    --content-padding: 1rem;

    --board-bg: #2c2c2c;
    --board-0: #3d3d3d;
    --board-1a: #017545;
    --board-1b: #fff;
    --board-2a: #39a706;
    --board-2b: #fff;
    --board-3a: #d3cf07;
    --board-3b: #464006;
    --board-4a: #bb3f06;
    --board-4b: #fff;
    --board-5a: #ffb007;
    --board-5b: #503307;
    --board-6a: #1daa9e;
    --board-6b: #fff;
    --board-7a: #865bad;
    --board-7b: #fff;
    --board-8a: #9914bb;
    --board-8b: #fff;
    --board-9a: #38093a;
    --board-9b: #fff;
    --board-10a: #a70f0f;
    --board-10b: #fff;
    --board-11a: #ec0e0e;
    --board-11b: #fff;
    --board-12a: #d81580;
    --board-12b: #fff;
    --board-13a: #07ca32;
    --board-13b: #01200c;
    --board-14a: #0eeba1;
    --board-14b: #04252b;
    --board-15a: #69542d;
    --board-15b: #fff;
    --board-16a: #c3c541;
    --board-16b: #242203;
    --board-17a: #610d00;
    --board-17b: #fff;
}
